USE [master]
GO
/****** Object:  Database [CurrencyStrength2]    Script Date: 16.12.2018 11:11:43 ******/
CREATE DATABASE [CurrencyStrength2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CurrencyStrength2_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CurrencyStrength2_Data.mdf' , SIZE = 344064KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'CurrencyStrength2_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CurrencyStrength2_Log.ldf' , SIZE = 174080KB , MAXSIZE = 2048GB , FILEGROWTH = 1024KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CurrencyStrength2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CurrencyStrength2]
GO
/****** Object:  Table [dbo].[Strength]    Script Date: 16.12.2018 11:11:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Strength](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Zeit] [datetime] NOT NULL,
	[1] [int] NULL,
	[2] [int] NULL,
	[3] [int] NULL,
	[4] [int] NULL,
	[5] [int] NULL,
	[6] [int] NULL,
	[7] [int] NULL,
	[8] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Index [ClusteredIndex-20181202-175152]    Script Date: 16.12.2018 11:11:43 ******/
CREATE UNIQUE CLUSTERED INDEX [ClusteredIndex-20181202-175152] ON [dbo].[Strength]
(
	[Zeit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
